.highlight {
  background-color: rgb(140, 255, 169);
}

.navbar-style {
  background-color: rgb(187, 211, 255) !important;
}

.green-highlight {
  color: green;
  font-size: 40px;
}

.red-highlight {
  color: purple;
  font-size: 25px;
}

.hand-icon {
  cursor: pointer;
}

.imgholder {
  max-width: 100px;
  max-height: 100px;
}
